snippet nh "Estrategias de programacion template"
#include <iostream>
#include <algorithm>

using namespace std;

int main() {
	int t;
	cin >> t;
	for(int i=0; i < t; i++) {
		$0
	}
	return 0;
}
endsnippet
